<%- include('partials/head')%>
<!--'%-'는 ejs의 포함 파일 포함 방법-->
<%- include('partials/navbar')%>
<h1>All The Cats</h1>
<ul>
    <% for(let cat of cats) { %>
    <li><%= cat %></li>
    <% } %>
</ul>
<%- include('partials/footer')%>