/* * {
    background-color: cyan;
} */

body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}
/*h1 과 h2를 한번에 적용*/
h1,h2 {
    color: #1d3557;
}
/*#id는 html 파일에 있는 id를 찾아간다.*/
#signup{
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: #457b9d;
}

/*.클래스이름, class와 연결된다. 클래스는 id의 모음이라고 보면된다.*/
.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}
/*post class에 있는 a태그들을 설정 (descendant selector*/
.post a {
    color: #457b9d;
    font-weight: 700;
    text-decoration: none;
}
/*footer에 있는 a태그들을 설정*/
footer a {
    color: #e63946;
}

/*button중에 h2의 바로 다음에 오는 것을 설정, 바로 다음에 오는 것에만 적용된다.(adjacent selector)*/
h2 + button {
    font-size: 20px;
}

/*footer 내부에서 직전이거나 직후의 있는 a태그에 적용(Direct Child) */
footer > a {
    color: #457b9d;
}

/*type을 지정해서 적용한다. type이 password인 input에만 적용*/
input[type="password"] {
    color: greenyellow;
}

/* *을 붙이는 것으로 대입연산자 뒤에 나오는 문자열이 포함된 것에만 적용하도록 설정*/
a[href*="google"]{
    color: #1d3557;
}

/*hover는 마우스 포인터를 그 부분에 가져가면 변화가 일어나는 것을 의미한다.(Pseudo classes)*/
.post a:hover {
    text-decoration: underline;
}

/*active는 클릭했을 때의 변화를 의미한다.(Pseudo classes)*/
.post button:active {
    background-color: #02c39a;
}

/*post클래스의 2의 배수번째에 있는 부분들을 설정한다. n을 뺀다면 그냥 2번째의 부분에 변화를 준다.(Pseudo classes)*/
.post:nth-of-type(2n){
    background-color: #dfe8dc;
}

/*h2의 모든 첫번째 letter를 설정한다.(Pseudo Elements)*/
h2::first-letter {
    font-size: 50px;
}

/*p의 모든 첫번째 line을 설정한다.(Pseudo Elements)*/
p::first-line {
    color: purple;
}

/*p에서 마우스 드래그를 하면 보이는 것을 설정.(Pseudo Elements)*/
p::selection {
    background-color: #fcbf49;
}

.post button:hover {
    background-color: #e63946;
    color: #f1faee;
}

/*충돌이 생길 경우, 나중에 나온 설정이 반영되어야 하는데 특정 요소에만 반영이 된다.(Specificity)*/
/*Specificity 순서:Inline Styles > ID > Class > Element*/
/*이 순서에 따라서 Specificity가 결정된다. 갯수도 중요하다.*/
/*ID = 100, Class = 10, Element = 1 로 생각해서 계산하면 갯수를 반영할 수 있다.*/
button:hover {
    background-color: olive;
}

button {
    /*important를 붙이면 모든 specificity를 무시하고 설정을 적용하게 된다.*/
    background-color: magenta !important;
}